/*#header{*/
/*    height:82px;*/
/*    width: 1200px;*/
/*}*/

/*.errorMsg{*/
/*    color: red;*/
/*}*/


/*.form .itxt {*/
/*    border: 0 none;*/
/*    float: none;*/
/*    font-family: "宋体";*/
/*    font-size: 14px;*/
/*    height: 18px;*/
/*    line-height: 18px;*/
/*    overflow: hidden;*/
/*    padding: 10px 0 10px 10px;*/
/*    width: 220px;*/
/*    border: 1px #232020 solid;*/
/*}*/
/*!*.form #form{*!*/
/*!*    border-style: solid;   !*设置外边框*!*!*/
/*!*}*!*/

/*!*.divForm{*!*/
/*!*    position: absolute;  !*绝对定位*!*!*/
/*!*    width: 30px;*!*/
/*!*    height: 20px;*!*/

/*!*    border: 1px solid #0a0909;*!*/
/*!*    text-align: center;!*(让div中的内容居中)*!*!*/
/*!*    top: 50%;*!*/
/*!*    left: 50%;*!*/
/*!*    !*margin-top: -200px;*!*!*/
/*!*    !*margin-left: -150px;*!*!*/
/*!*}*!*/
div#header{
    border: #232020 solid;
    width: 350px;
    height: 350px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

div#rejist{
    border-style: solid;
    border-width: 2px;
    /*width: 350px;*/
    text-align: center;
    width: 30%;
    height: 70%;
    margin: auto;
}

div#login{
    border-style: solid;
    border-width: 2px;
    /*width: 350px;*/
    text-align: center;
    width: 30%;
    height: 70%;
    margin: auto;
}