# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\编程笔记.md\项目\JWsystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
